
html {
	margin: 0;
	padding: 0;
	}
	body{
		background-color: #9b9298;
		font-size: 100%;
		font-family: 'Alex Brush', Arial;
		border: 2px solid #f6cfca;
		
	}
	h1{
		color: #f6cfca;
		font-size: 3em;
	}
	h2 {
		font-size: 1.875em;
		text-decoration: underline;
	}
	h3 {
		font-style: italic;
	}
	p{
		color: black;
		text-align: left;
		font-size: 0.875em;
	}
	div {
		margin: auto;
	}
	img{
		max-width: 100%;
	}
	ul {
		font-size: 1.5em;
	}
	.nav ul {
	  list-style-type: none;
	  margin: auto;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
	  position: sticky;
	  top: 0;
	}

	.nav li {
	  float: left;
	}

	.nav li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 1.6em
	}
	.nav li a:hover {
	  background-color: #111;
	}
	.nav .active {
 		background-color: #4CAF50;
	}
	.heading {
		text-align: center;
		border: 2px solid #f6cfca;
	}
	.imgbox {
		max-width: 75%;
	}
	.content {
		padding: 5px;
	}
	footer {
		background-color: #f6cfca;
		font-size: 1.5em;
	}
	.footer {
		margin: auto;
	}