
html {
	margin: 0;
	padding: 0;
	}
	body{
		background-color: #d8c3a4;
	}
	p{
		color: blue;
		text-align: left;
	}
	div {
		margin: auto;
	}
	img{
		max-width: 100%;
	}
	.heading {
		text-align: center;
		border: 2px solid black;
	}
	.heading h1{
		color: #f442aa;
		font-size: 50%;
		font-family: 'Bilbo Swash Caps';
	}
	.imgbox {
		max-width: 75%;
	}
	.info{
		border: 1px solid black;
		text-decoration: underline;
	}
	