
html {
	margin: 0;
	padding: 0;
	}
	body{
		background-color: #c6bcc4;
		font-size: 100%;
		font-family: 'Arial', serif;
	}
	h1{
		color: #f6cfca;
		font-size: 2.5em;
		font-weight: bold;
	}
	h2 {
		font-size: 1.875em;
	}
	p{
		color: blue;
		text-align: left;
		font-size: 0.875em;
	}
	div {
		margin: auto;
	}
	img{
		max-width: 100%;
	}
	.heading {
		text-align: center;
		border: 2px solid black;
	}
	.imgbox {
		max-width: 75%;
	}
	.info{
		border: 1px solid black;
		text-decoration: underline;
	}
	