/* The Modal (background) */
.profile-modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 10; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
	}

	.modal-header {
		display: inline-block;
	}
	
	/* Modal Content/Box */
	.modal-pane {
		background-color: #fefefe;
		margin: 20% auto;
		padding: 4em;
		border: 1px solid #888;
		width: 35%; /* Could be more or less, depending on screen size */
		border-radius: 1em;
		font-size: 1em;
	}
		#show-profile-content {
			display: none;
		}
		/* The Close Button */
		.close {
			color: #aaa;
			float: right;
			font-size: 2em;
			font-weight: bold;
		}
		
		.close:hover,
		.close:focus {
			color: black;
			text-decoration: none;
			cursor: pointer;
		}
		
		.modal-button {
			font-size: 1em;
			padding: 0.5em;
			border-radius: 1em;
			text-align: center;
			color: black;
			background: rgba(168, 117, 250, 0.6);
		}
		.modal-button:hover {
			background: rgba(168, 117, 250, 0.7);
		}
		.modal-content input, .modal-content span {
			margin: 0.25em;
		}
		.smallprint {
			font-size: 0.75em;
		}

		hr {
			margin-top: 1em;
			margin-bottom: 0.5em;
		}
		.heating-schedule-heading {
			position: relative;
			display: inline-block;
		}
		#add-heating-schedule-item {
			font-size: 1em;
			height: 1.5em;
			width: 1.5em;
			padding: 0;
		}
		.schedule-item {
			position: relative;
			display: block;
			margin-left: 5%;
			height: 1.5em;
			/* background: rgba(0,0,0,0.5); */
		}
		.schedule-item:hover > .delete-item-btn {
			display: inline-block;
		}
			.schedule-item .timing-block {
				position: absolute;
				display: inline-block;
				left: 50%;
				/* transform: translate(-50%,0); */
			}
			.schedule-item .delete-item-btn {
				position: absolute;
				display: none;
				box-sizing: border-box;
				right: 0;
				top: 50%;
				transform: translate(0,-50%);
				margin: 0em;
				margin-right: 0.2em;
				/* background: rgba(0,0,0,0.5); */
				vertical-align: middle;
				cursor: pointer;
				border-radius: 1em;
			}
			.schedule-item .delete-item-btn:hover {
				background: rgba(150,150,150,0.2);
			}