:root {
	--main-background: white;
	--accent-colour: 168, 117, 250;
	--default-display-alpha: 0.6;
	--focussed-button-alpha: 0.8;
	--visual-background-colour: 196, 195, 195, 0.2;
	--metric-text-colour: 0, 0, 0, 0.8;
	--filter-controls-padding: 2em;
}

body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
}
	button {
		cursor: pointer;
		border-radius: 1em;
		font-size: 1em;
		height: 2.5em;
		text-align: center;
		padding: 0.5em;
		background: rgb(var(--accent-colour),var(--default-display-alpha));
	}
	button:hover {
		background: rgb(var(--accent-colour),var(--focussed-button-alpha));
	}
	input[type="text"] {
		border-radius: 0.5em;
		height: 1.5em;
		margin: 0.25em;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 500;
	}
	h2 {
		position: relative;
		display: block;
		margin: auto;
		color: rgb(var(--accent-colour));
	}
	.header {
		position: relative;
		height: 80px;
		width: 98%;
		text-align: center;
		padding: 1%;
	}
		.header h1 {
			display: block;
			position: absolute;
			margin: auto;
			left: 50%;
			bottom: 0;
			transform: translate(-50%,0);
			width: 50%;
			font-size: 3em;
			z-index: 3;
		}
		.logo {
			float: left;
			height: 100%;
			/* display: inline-block; */
		}
		.header-info {
			display: block;
			float: right;
			justify-self: right;
		}	
			.header-info p {
				margin: 0.5em;
			}
			.header-info span {
				font-style: italic;
				color: rgba(var(--accent-colour), var(--default-display-alpha));
				font-weight: bold;
			}
			#add-profile-btn {
				position: relative;
				left: 50%;
				transform: translate(-50%,0%);
		
				font-size: 1em;
				height: 2.5em;
				width: 6.5em;
				padding: 0;
				text-align: center;
				color: black;
				background: rgba(var(--accent-colour), var(--default-display-alpha));
				transition: width 0.5s;
			}
			#add-profile-btn:hover {
				background: rgba(var(--accent-colour), var(--focussed-button-alpha));
			}
	#default-data-warning {
		position: relative;
		display: inline-block;
		/* text-align: center; */
		/* transform: translate(50%,0); */
		color: red;
		font-size: 1.5em;
		font-weight: bold;
		display: none;
		text-align: center;
	}
	.filters {
		position: relative;
		display: block;
		height: 2em;
		width: 98%;
		margin: 1%;
		border-radius: 1em;
		background-color: rgba(var(--accent-colour), var(--default-display-alpha));
		transition: height 0.5s;
	}
		#open-filters-btn {
			position: absolute;
			bottom: 0%;
			left: 0%;
			width: 100%;
			height: 2em;
			/* border-radius: 1em; */
			background-color: rgba(var(--accent-colour), var(--default-display-alpha));
			color: black;
			font-size: 1em;
			z-index: 2;
		}
			#open-filters-btn:hover {
				background-color: rgba(var(--accent-colour), var(--focussed-button-alpha));
			}
		.filters .filter-controls {
			position: absolute;
			display: none;
			top: 0%;
			left: 0%;
			box-sizing: border-box;
			padding: var(--filter-controls-padding);
			width: 100%;
			height: 90%;
			border-radius: 1em;
			/* opacity: 0;
			transition: opacity 0.5 ease-in; */
		}
			.filter-controls button {
				background: rgba(0,0,0,0.6);
				color: rgb(var(--accent-colour));
			}
			.filter-controls .input-section {
				position: relative;
				display: inline-block;
				left: 0;
				width: 50%;
				margin: 0;
			}
				.filter-controls .date-from-label {
					position: relative;
					display: block;
					z-index: 1;
				}
				.filter-controls .date-to-label {
					position: relative;
					display: block;
					z-index: 1;
				}
				.filter-controls span {
					color: transparent;
				}
			.filter-controls .quick-filter-section {
				position: absolute;
				display: inline-block;
				left: 50%;
				width: 50%;
				margin: 0;
			}
			.filter-controls #reset-filters {
				position: absolute;
				display: block;
				bottom: var(--filter-controls-padding);
				right: var(--filter-controls-padding);
			}
	.visuals {
		position: relative;
		display: block;
		z-index: 2;
	}
		.metrics {
			height: 100px;
			width: 98%;
			margin: 1%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
			.metric-item {
				display: table;
				width: 24%;
				height: 90%;
				margin: auto 0;
				background-color: rgba(var(--visual-background-colour));
				text-align: center;
				border-radius: 1em;
				overflow: hidden;
			}
				.metric-item p {
					position: relative;
					display: table-cell;
					width: auto;
					height: auto;
					text-align: center;
					vertical-align: middle;
					padding-left: 5px;
					padding-right: 5px;
					color: rgba(var(--metric-text-colour));
					font-size: 1.2em;
					/* font-size: calc(1vw + 1vh + 0.5vmin); */
				}
		.chart-area {
			position: relative;
			display: block;
			width: 96%;
			height: 700px;
			background-color: rgba(var(--visual-background-colour));
			border-radius: 1em;
			padding: 1%;
			margin: 1%;
		}
			.chart-area .no-data-warning {
				display: none;
				position: absolute;
				z-index: 3; /* Just above chart */
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				color: black;
				background: rgb(var(--visual-background-colour));
			}
			.chart-row {
				position: relative;
				display: block;
				width: 100%;
				height: 50%;
			}
			.chart-col {
				position: relative;
				float: left;
				width: 50%;
				height: 100%;
			}
			